@media (max-width: 720px){
    .nav-items{
        display: none;
    }
    .img_b{
        display: block;
    }
    header{
        display: block;
    }

    .h-img{
       display: none;
    }
    .h-txt{
        margin-top: 50px;
        p{

        }
        h1{
            font-style: 36px;
            font-weight: 600;
        }
    }
    .fake-img img{
        display: block;
        width: 240px;
        margin: 0 auto;
    }

}