* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background: rgba(3, 7, 18, 1);
}

.container{
    max-width: 1280px;  
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}
footer{
    margin-top: 300px;
    text-align: center;
}
i{
    color: white;
}
.nav-items{
    display: flex;  
    gap: 20px;
    transform: translateX(160px);
}
nav{
    display: flex;
    justify-content: space-between;
    transform: translateY(10px);
}
.logo{
    
    a{
        width: 50px;
        font-size: 20px;
    }
}
.img_b{
    transform: translateY(-10px);
    margin-left: -450px;
    display: none;
}

header{
    display: flex;
    align-items: center;
    transform: translateY(100px);
    gap: 300px;
    img{
        box-shadow: 40px 40px 0px 0px rgb(83, 83, 83);
    }
}
.h-txt{
    i,p,h1{
        margin:  10px 0px;
    }
   
    i{
        margin: 10px 5px;
    }
    
}

